#minifacebook {
  position: fixed;
  left: 5px;
  top: 55px;
  width: 310px;
  height: 175px;
  z-index: 1000;
  background-color: black;
  box-shadow: 0 0 10px #000000;
}

.mnfb-play-button {
  margin-left: auto;
  margin-right: auto;

  display: block;
  position: relative;
  top: -50%;
  transform: translateY(-50%);

  border-radius: 50%;
  background: rgba(23,35,34,.75);
  border: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;

  transition: background-color 40ms;
  text-decoration: none;
  color:#ffffff;
  display: none;
}

.mnfb-play-button:hover {
  background-color: #3b5998;
}

.mnfb-play-button-play {
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 15px solid white;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.mnfb-play-button-pause {
  display: none;
}

.mnfb-play-button-pause:before {
  width: 7px;
  height: 20px;
  background-color: #FFFFFF;
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
}

.mnfb-play-button-pause:after {
  width: 7px;
  height: 20px;
  background-color: #FFFFFF;
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
}

.alert {
  position: fixed;
  width: 90%;
  top: 3px;
  z-index: 1000;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
  margin-left: 3.25%;
  text-align: center;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.mnfb-progress-area {
  height: 15px;
  position: absolute;
  bottom: -5px;
  width: 100%;
  z-index: 1002;
  cursor: pointer;
}

.mnfb-progress-wrap {
  background: #3b5998;
  overflow: hidden;
  position: absolute;
  bottom: 5px;
}

.mnfb-progress-bar {
  background: #ddd;
  position: absolute;
  left: 0;
  bottom: 0;
}

.mnfb-progress-pointer {
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 3px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #3b5998;
  display: none;
  z-index: 1002;
}

.mnfb-progress {
  width: 100%;
  height: 1px;
  cursor: pointer;
}

.mnfb-btn {
  position: absolute;
  padding: 2px 6px 2px 6px;
  margin: 3px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #3b5998;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1001;
  background-color: #3b5998;
}

#mnfb-video {
  top: 0px !important;
  left: 0px !important;
}

.resizer {
  width: 50px;
  height: 50px;
  position:absolute;
  z-index: 1001;
}

.resize-icon {
  right: -3px;
  bottom: -3px;
  position:absolute;
  z-index: 1001;
  cursor: se-resize;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  width: 30px;
  height: 30px;
}

#mnfb-br {
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

.mnfb-control-icons {
  top: 0;
  left: 0;
  position: absolute;
  padding: 3px;
  z-index: 1001;
  display: none;
}

#mnfb-close-button {
  position: absolute;
  top: 3px;
  right:3px;
  border-radius: 50%;
  display: none;
}

.mnfb-size-button {
  display: block;
  margin-bottom: 3px;

  width: 30px;
  height: 30px;
  background: rgba(23,35,34,.5);
  border-radius: 0.5em;
  border: 0;
  cursor: pointer;

  font-size: 1em;
  text-align: center;
  font-family: 'Helvetica Neue',Helvetica,Arial;
  transition: background-color 40ms;
  font-weight: bold;
  text-decoration: none;
  color:#ffffff;
}

#mnfb-play-button{
  display: none;
}

.mnfb-size-button img {
  vertical-align: middle;
}

.mnfb-size-button:hover {
  background-color: #3b5998;
}

.mnfb-pin-label {
  position: absolute;
  top: 3px;
  left: 40px;
  width: 150px;
  height: 30px;
  background: rgba(23,35,34,.75);
  border-radius: 0.5em;
  border: 0;
  cursor: pointer;

  font-size: 1em;
  text-align: center;
  font-family: 'Helvetica Neue',Helvetica,Arial;
  font-weight: bold;
  text-decoration: none;
  color:#ffffff;
  line-height: 30px;
  transition: opacity 150ms ease-out,transform 150ms ease-out;
  display: none;
}

.mnfb-pin-label::before {
  position: absolute;
  left: -0.5em;
  top: 50%;
  margin-top: -.5em;
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: .5em solid rgba(23,35,34,.75);
  content: '';
}